
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(19, 136, 87, 1);
    --secondary-color: rgba(255,255,255,1);

}


/* header style start */
header {

    padding: 35px 20px;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    width: 82%;
}

header h1 {
    color: var(--secondary-color);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);

}

header nav ul li a {
    padding: 8px 8px;
}

.project-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.project {
    margin: 20px;
    background: var(--primary-color);
    flex: 1;

}
.project img {
    width: 100%;
}